VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/exec
# Used for the on-page QR code (defaults to bienandkeana.visionsbyiso.com if unset)
VITE_PUBLIC_SITE_URL=https://bienandkeana.visionsbyiso.com
